html, body {
  margin: 0px;
  padding: 0px;

  font-size: 1em;
}

.DaoTableView table {
  width: 100%;
  height: 100%;
}

.DaoTableView table tr td {
  padding: 5px 10px;
}

.DaoTableView table tr td a {
  margin: 0px auto;
  width: 100%;
  height: 100%;
  display: block;
  background: #CCC;
}